.large-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navLinks {
  display: flex;
  font-size: 15px;
}

.navLinks a {
  display: inline-flex;
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

.icons {
  display: flex;
  align-items: center;
}

.hamIcon {
  padding-top: 5px;
  display: none;
  cursor: pointer;
}

.hamLinks{
  display: none;
}

@media (max-width: 860px) {
  .navLinks {
    display: none;
  }

  .icons {
    display: flex;
    /* align-items: center; */
    width: 75px;
    justify-content: space-between;
    /* background-color: green; */
  }

  .cartQuantity {
    right:65px;
  }

  .hamIcon {
    display: inline-flex;
    padding-bottom: 5px;
  }

  .hamLinks {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 93%;
    background-color: white;
    margin-top: 275px;
  }

  .hamLinks a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 10px 0;
  }

  .hamLinks a:hover {
    background-color: lightgray;
  }
  .toolbar{
    height: 70px;
  }
  .large-nav{
    width: 100%;
  }
}
